.cover__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(
          rgba(42, 44, 47, 0.3),
          rgba(42, 44, 47, 0.3)
        ),
        url("../../../images/__background.jpg");
  width: 100%;
  min-height: 740px;
  margin: 0;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}
.cover__link::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
          rgba(42, 44, 47, 0.8),
          rgba(42, 44, 47, 0.8)
        ),
        url("../../../images/__background.jpg");
  opacity: 0;
  z-index: 1;
  transition: opacity .3s linear;
}
.cover__link:hover::before {
  opacity: 1;
}
