.photo-grid {
  display: grid;
  margin: 92px auto 0;
  width: 92.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
}
@media screen and (max-width: 768px) {
  .photo-grid {
    width: 93.75%;
      grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  }
}
@media screen and (max-width: 577px) {
  .photo-grid {
    grid-gap: 12px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    width: 90%;
  }
}
