.place__image {
  width: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media screen and (max-width: 746px) {
  .place__image {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
