.cover__subtitle {
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 32px 0 0;
  max-width: 360px;
  z-index: 2;
}
@media screen and (max-width: 590px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
