.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 48px;
  padding: 28px 0 0;
  width: 92.5%;
}
@media screen and (max-width: 1024px) {
  .header {
    width: 90.63%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 93.75%;
    margin: 0 24px;
    padding: 28px 0 0;
  }
}
@media screen and (max-width: 580px) {
  .header {
    margin: 0 16px;
    padding: 16px 0 0;
    width: 90%;
  }
}
