.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 790px) {
  .place__paragraph {
    font-size: 16px;
  }
}
@media screen and (max-width: 746px) {
  .place__paragraph {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 90%;
    margin: 0 auto;
  }
}
