.intro {
  position: relative;
  width: 76.88%;
  margin: 92px auto 0;
  color: #FFF;
}
@media screen and (max-width: 1024px) {
  .intro {
    width: 90.63%;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    width: 90%;
    margin-top: 64px;
  }
}
