.place {
  display: grid;
  margin: 0;
  width: 100%;
  grid-template-columns: repeat(2, minmax(340px, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  color: #FFF;
}
@media screen and (max-width: 746px) {
  .place {
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 0;
  }
}
