.place__website {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: left;
  width: 90%;
  font-weight: normal;
  margin: 0;
  align-self: flex-end;
}
@media screen and (max-width: 746px) {
  .place__website {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 16px;
  }
}
