.intro__title {
  text-align: left;
  width: 690px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .intro__title {
    width: 300px;
    font-size: 44px;
    line-height: 58px;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}
